.navbar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 0.5rem 160px;
	display: flex;
	align-items: center;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(229,230,234,1));
	justify-content: space-between;
}
.navbar-brand{
	padding-left: 30px;
}
.all-products{
	top: 0px;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	min-height: 100vh;
	/* padding: 3rem 0; */
	background-color: #f7f7f7;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	scroll-behavior: smooth
}

.main-text{
	margin: 100px;
    text-align: center;
	color: black;
	    font-size: 30px;
}

.main-text p{
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

.add{
	display: flex;
	text-transform: uppercase;
	align-items: center;
	padding: .5rem 3rem;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}
.nav-button, span, .add p, img{
	cursor: pointer;
}

.add img{
	margin-left: 10px;
	height: 20px!important;
	width: 20px!important;
}
small, p, h2, h1{
	cursor: default;
}
.product{
    display: flex;
    width: 80%;
    padding: 10px;
	background-color: white;
	box-shadow: 0px 0px 15px 1px #cdcdcd;
	margin: 20px 10px;
}

.image span:hover, .info h3:hover, .add p:hover{
	text-decoration: underline;
}
.info{
	padding: 0 10px;
	width: 100%;
}
.buy, .image, img{
	max-width: 200px;
}
.info p{
	text-align: justify;
	padding: 0 5px;
}
 .buy{
	display: flex;
	flex-direction: column;
	padding: 10px;
	min-width:155px;
	text-align: center;
	justify-content: space-around;
 }
.buy h2{
	margin: 0;
}
.mat-stroked-button {
	color: #0e7200 !important;
	border-color: #0e7200;
	font-size: 1.5em;
}
.footer-c{
    padding: 2rem;
	width: 100%; 
    text-align: center;
    font-weight: 300;
    background-color: #272727;
    font-size: 16px;
    color: #f7f7f7;
}

@media screen and (max-width: 1965px) {
    .add{
        font-size: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .navbar img{
		padding: 2px;
        height: 3rem;
    }
	.add img{
		height: 0.75rem!important;
		width: 0.75rem!important;
	}
	.main-text{
        font-size: 1.4rem!important;
		margin: 80px;
    }
    .main-text p{
        font-size: 0.9rem!important;
        margin-left: auto;
        margin-right: auto;
    }
	.material-icons{
		font-size: 22px;
	}
    .footer-c{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
        font-size: 0.7rem;
    }
}


@media screen and (max-width: 1298px) {
    nav.navbar{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .add{
        font-size: 0.7rem;
    }
	.add img{
		height: 0.7rem!important;
		width: 0.7rem!important;
	}


}
@media screen and (max-width: 1024px) {
    .main-text{
        font-size: 1.3rem!important;
		margin: 60px;

    }
    .all-products, .main-text p{
        font-size: 0.8rem!important;

    }

	.navbar{
		padding: 0;
	}
	.image img{
		width: 160px;
	}
	.buy{
		min-width: 145px;

	}
	.mat-stroked-button{
		font-size: 1em;
	}
	.footer-c{
		padding-top: 1rem!important;
		padding-bottom: 1rem!important;
		font-size: 0.7rem;
	}

}

@media screen and (max-width: 768px) {
    .add{
        padding-left: 1rem;
        padding-right: 1rem;
    }
	.navbar img{
		height: 2rem;
	}

	.mat-stroked-button{
		font-size: 1.5em;
	}
	.footer-c{
		padding-top: .6rem!important;
		padding-bottom: .6rem!important;
		font-size: 0.6rem;
	}
}

@media screen and (max-width: 560px) {

    .add{
        font-size: 0.5rem;
        padding:  0;
    }
    .navbar-brand{
        padding: 0;
    }
	.add img{
		height: 0.5rem!important;
		width: 0.5rem!important;
	}
	.main-text {
		margin: 60px auto 20px;
        font-size: 1.2rem!important;
    }
    .all-products, .main-text p{
        font-size: 0.7rem!important;

    }
	.product{
		width: 70%;
		flex-direction: column;
		align-items: center;
	}
	.buy{
		line-height: 20px;
		min-width: 70%;
	}
	.buy .image{

		margin: 5px;
		max-width: 100%;

	}
	.image{
		display: flex;
		flex-direction: column;
	}
	h3{
		text-align: center;
		/* margin-top: 5px; */
	}
	.buy, .image, img{
		max-width: 100%;
	}
	.footer-c{
        padding: 0.5rem!important;
    }
}

@media screen and (max-width: 350px) {
	.product{
		width: 80%;
	}
}
