<nav class="navbar">
    <div class="navbar-brand">
        <a class="" href="/"> <img src="../assets/img/logo/logo.png" alt=""></a>
    </div>
    <a class="nav-button" (click)="openDialog()">
        <div class="add">
            <p>Add new product </p>
            <mat-icon>add</mat-icon>
        </div>
    </a>
</nav>

<section class="all-products">
    <h1 class="main-text">All products</h1>
    <div class="product">
        <div class="image">
            <a href="https://hubstaff.com"><img src="../assets/img/products/hubstuf.png" alt=""></a>
            <small>Category: <span>Time tracker</span></small>
        </div>
        <div class="info">
            <a href="#"><h3>Hubstaff</h3></a>
            <p>Simple yet powerful employee work time tracker with screenshots, timesheets, & more. Understand productivity issues and make data-driven decisions.</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="buy">
            <h2>$10.00</h2>
            <div>
                <small>Unavailable date: </small>
                <small>7 Aug 2020</small>
            </div>
            <button mat-stroked-button >Buy</button>
        </div>
    </div>
    <div class="product">
        <div class="image">
            <a href="https://slack.com/intl/en-ua/"><img src="../assets/img/products/slack.png" alt=""></a>
            <small>Category: <span>Social</span></small>
        </div>
        <div class="info">
            <a href="#"><h3>Slack Pro</h3></a>
            <p>Get more done with Slack: Real time messaging, file sharing and powerful search. 100k+ Paid Customers. Users in 150+ Countries. 10m+ Daily Active Users. Sync Across All Devices. 65 of the Fortune 100. Services: Instant Messaging, File Sharing, 1000+ App Integrations.</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="buy">
            <h2>$12.50</h2>
            <div>
                <small>Unavailable date: </small>
                <small>14 Jan 2020</small>
            </div>
            <button mat-stroked-button >Buy</button>
        </div>
    </div>

    <div class="product">
        <div class="image">
            <a href="https://www.atlassian.com/software/jira"><img src="../assets/img/products/jira.png" alt=""></a>
            <small>Category: <span>Time tracker</span></small>
        </div>
        <div class="info">
            <a href="#"><h3>Jira 2017</h3></a>
            <p>Whether A Seasoned Agile Expert, Or Getting Started, Jira® Unlocks The Power Of Agile. Deliver Actionable Results With A Tool Used & Trusted By Millions Of Developers. Try Now! For Teams of All Sizes. Agile Functionality. Trusted by 65k+ Teams. Integrates w/ Other Tools.</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="buy">
            <h2>$14.00</h2>
            <div>
                <small>Unavailable date: </small>
                <small>30 Nov 2019</small>
            </div>
            <button mat-stroked-button >Buy</button>
        </div>
    </div>

    <div class="product">
        <div class="image">
            <a href="https://travechat.com/cgi-sys/defaultwebpage.cgi"><img src="../assets/img/products/trave.png" alt=""></a>
            <small>Category: <span>Social</span></small>
        </div>
        <div class="info">
            <a href="#"><h3>TraveChat</h3></a>
            <p>TraveChat is a social media and social networking service for travellers in Malaysia.</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="buy">
            <h2>$35.00</h2>
            <div>
                <small>Unavailable date: </small>
                <small>13 Jun 2020</small>
            </div>
            <button mat-stroked-button >Buy</button>
        </div>
    </div>

    <div class="product">
        <div class="image">
            <a href="https://www.timecamp.com"><img src="../assets/img/products/camp.png" alt=""></a>
            <small>Category: <span>Time tracker</span></small>
        </div>
        <div class="info">
            <a href="#"><h3>Time Camp</h3></a>
            <p>Attendance tracker. TimeCamp is not only time tracking software, but also accurate attendance tracking!</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="buy">
            <h2>$10.00</h2>
            <div>
                <small>Unavailable date: </small>
                <small>25 Dec 2020</small>
            </div>
            <button mat-stroked-button >Buy</button>
        </div>
    </div>
    <div class="product">
        <div class="image">
            <a href="https://www.jetbrains.com/idea/"><img src="../assets/img/products/intellij.png" alt=""></a>
            <small>Category: <span>Develop</span></small>
        </div>
        <div class="info">
            <a href="#"><h3>IntelliJ IDEA</h3></a>
            <p>Every aspect of IntelliJ IDEA is specifically designed to maximize developer productivity.

Together, the powerful static code analysis and ergonomic design make development not only productive but also an enjoyable experience.</p>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="buy">
            <h2>$49.99</h2>
            <div>
                <small>Unavailable date: </small>
                <small>25 Dec 2024</small>
            </div>
            <button mat-stroked-button >Buy</button>
        </div>
    </div>
    <div class="footer-c">
      © 2018 Find Parrot
    </div>
</section>
