<footer>
    <div class="info">
        <div class="container logo">
            <img  src="../../assets/img/logo/footparr.png" >
        </div>
        <div class="info-nav">
            <ul class="footer-navbar-nav">
                <li class=" ">
                    <a class="footer-nav-link" href="#about">ABOUT US</a>
                </li>
                <li class=" ">
                    <a class="footer-nav-link" href="https://www.termsfeed.com/terms-service/76ff11518d2203297e5acae6389b4889">TERMS OF SERVICE</a>
                </li>
                <li class=" ">
                    <a class="footer-nav-link " href="https://www.privacypolicies.com/privacy/view/94a18e36647f18248b072318f330d6b8">PRIVACY POLICY</a>
                </li>
                <li class=" ">
                    <a class="footer-nav-link" href="/contact">CONTACT US</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-c">
      © 2018 Find Parrot
    </div>
</footer>
