<h2 mat-dialog-title>Sign In</h2>
<mat-dialog-content>

		<mat-form-field>
			<input placeholder="First name" matInput type="text" [formControl]= "firstNameFormControl">
			<mat-error *ngIf="firstNameFormControl.hasError('required')">
			  First name is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input placeholder="Second name" matInput type="text" [formControl]= "secondNameFormControl" >
			<mat-error *ngIf="secondNameFormControl.hasError('required')">
			  Second name is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input placeholder="Username" matInput type="text" [formControl]= "usernameFormControl">

			<mat-hint align="start">Minimum 6 characters </mat-hint>
			<mat-error *ngIf="usernameFormControl.hasError('minlength') && !usernameFormControl.hasError('required')">
			  Username is too short.
			</mat-error>
			<mat-error *ngIf="usernameFormControl.hasError('required')">
			  Username is <strong>required</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Email" [formControl]="emailFormControl" name="email" >

		    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
		      Please enter a valid email address
		    </mat-error>
		    <mat-error *ngIf="emailFormControl.hasError('required')">
		      Email is <strong>required</strong>
		    </mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Enter your password" [formControl]="passFormControl" [type]="hide ? 'password' : 'text'" name="password">
		    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
		    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		    </button>
			<mat-error *ngIf="passFormControl.hasError('required')">
				 Password is <strong>required</strong>
			 </mat-error>
 			<mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
 			  Password is too short.
 			</mat-error>
			<mat-hint align="start">Minimum 6 characters </mat-hint>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Confirm your password" [formControl]="confirmFormControl" [type]="hide ? 'password' : 'text'" name="confirmPassword">
		    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
		    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
		    </button>
			<mat-error *ngIf="confirmFormControl.hasError('required')">
			 Confirm your password
			 </mat-error>
		</mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Sign In</button>
</mat-dialog-actions>
