<header id="intro" class="mainhead">
        <div class="header-text">
            <h1>Quick Search for Your <span class="name">Perfect Product</span></h1>
            <p>innovate &#183; list &#183; connect</p>
        </div>
        <div class="input-group">
            <div class="dropdown">
                <button class="dropdown-button">Category</button>
                <div class="dropdown-menu ">
                    <a class="dropdown-item" href="#"><p>Category</p></a>
                    <a class="dropdown-item" href="#"><p>Category 2</p></a>
                    <a class="dropdown-item" href="#"><p>Something else here</p></a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><p>Separated link</p></a>
                </div>
            </div>
            <input type="text" class="form-control">
            <div class="search">
                <button (click)= openSnackBarSearch() class="search-button">start searching</button>
            </div>
        </div>
    <div class="white-buttons">
        <a href="#" (click)= openSnackBar()><img src="../../assets/img/allcateg.png" alt=""></a>
        <a href="#" (click)= openSnackBar()><img src="../../assets/img/hiw.png" alt=""></a>
    </div>
</header>
